<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Code Review</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    /* add your style */
    p {
      white-space: pre-wrap;
    }
  </style>
</head>
<body>
  <h1>Code Review Results</h1>
  {{#each this as |item|}}
  <section>
    <h2>
      <a href="{{item.url}}">{{item.group}}</a>
    </h2>
    {{#each item.lines as |line|}}
    <table>
      <tr>
        <td>Position</td>
        <td>{{line.lines}}</td>
      </tr>
      <tr>
        <td>Priority</td>
        <td>{{line.priority}}</td>
      </tr>
      <tr>
        <td>Title</td>
        <td>{{line.title}}</td>
      </tr>
      <tr>
        <td>Category</td>
        <td>{{line.category}}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>
          <p>{{line.comment}}</p>
        </td>
      </tr>
      {{#if line.additional}}
      <tr>
        <td>Additional Info</td>
        <td>{{line.additional}}</td>
      </tr>
      {{/if}}
      <tr>
        <td>SHA</td>
        <td>{{line.sha}}</td>
      </tr>
      {{#if line.code}}
      <tr class="row-code">
        <td class="caption">Code</td>
        <td class="text">
          <pre><code id="code-block-{{@../index}}-{{@index}}">{{line.code}}</code></pre>
        </td>
      </tr>
      {{/if}}
    </table>
    {{/each}}
  </section>
  {{/each}}
  <script>
    const codeBlocks = document.querySelectorAll('[id^=code-block-]');
    for(var i in codeBlocks){
      const base64DecodedContent = window.atob(codeBlocks[i].innerText);
      codeBlocks[i].innerHTML = base64DecodedContent.replace(/</g,"&lt;")
    }
  </script>
</body>
</html>