<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Code Review</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    /* basic style */
    body {
      font-family: Helvetica;
    }

    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
      color: green;
    }

    h3 {
      font-size: 16px;
      padding-left: 5px;
      margin-bottom: 5px;
    }

    p {
      white-space: pre-wrap;
      margin: 0;
    }

    pre {
      margin: 0
    }

    code {
      border: 1px solid #999;
      display: block;
      white-space: pre-wrap;
    }

    /* links in headlines */
    h3.lines-headline>a {
      color: #005bbb;
      text-decoration: none;
    }

    h3.lines-headline>a:hover {
      text-decoration: underline;
    }

    /* table style */
    table.review-table {
      font-size: 14px;
      padding-left: 10px;
    }

    table.review-table .caption {
      font-weight: bold;
      vertical-align: top;
    }

    table.review-table tr>td:first-child {
      width: 120px
    }

    /* priority indicator */
    .text>span:before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
      margin-left: -15px;
    }

    .text>span.prio-high:before {
      background: #FF4500;
    }

    .text>span.prio-medium:before {
      background: #FFD700;
    }

    .text>span.prio-low:before {
      background: #9ACD32;
    }

    .text>span.prio-none:before {
      background: #D3D3D3;
    }
  </style>
</head>

<body>
  <h1 class="main-headline">Code Review Results</h1>
  {{#each this as |item|}}
  <section class="file-section">
    <h2 class="file-section-headline">{{item.group}}</h2>
    {{#each item.lines as |line|}}
    <h3 class="lines-headline">
      <a href="{{line.url}}">Position: {{line.lines}}</a>
    </h3>
    <table class="review-table">
      <tr class="row-priority">
        <td class="caption">Priority</td>
        <td class="text">
          <span class="prio-{{line.priority}}">{{line.priority}}</span>
        </td>
      </tr>
      {{#if line.title}}
      <tr class="row-title">
        <td class="caption">Title</td>
        <td class="text">{{line.title}}</td>
      </tr>
      {{/if}}
      {{#if line.category}}
      <tr class="row-category">
        <td class="caption">Category</td>
        <td class="text">{{line.category}}</td>
      </tr>
      {{/if}}
      {{#if line.comment}}
      <tr class="row-description">
        <td class="caption">Description</td>
        <td class="text">
          <p>{{line.comment}}</p>
        </td>
      </tr>
      {{/if}}
      {{#if line.additional}}
      <tr class="row-additional">
        <td class="caption">Additional Info</td>
        <td class="text">{{line.additional}}</td>
      </tr>
      {{/if}}
      {{#if line.revision}}
      <tr class="row-revision">
        <td class="caption">Revision</td>
        <td class="text">{{line.revision}}</td>
      </tr>
      {{/if}}
      {{#if line.code}}
      <tr class="row-code">
        <td class="caption">Code</td>
        <td class="text">
          <pre><code id="code-block-{{@../index}}-{{@index}}">{{codeBlock line.code}}</code></pre>
        </td>
      </tr>
      {{/if}}
    </table>
    {{/each}}
  </section>
  {{/each}}
</body>

</html>
